.differ .pac-target-input:focus-visible {
    outline: 02px solid #851fbf !important;
}

.MuiFormControl-root .MuiSvgIcon-root {
    color: #851fbf !important;
}


.MuiOutlinedInput-notchedOutline {
    border: 0 solid transparent !important;
}

.MuiInputBase-input::selection {
    color: white;
    background: #851fbf;
}

.MuiFormLabel-root {
    background-color: white !important;
    padding: 1px !important;
    border-radius: 2px;
    /* width: 8rem !important; */
}


.MuiFormControl-root {
    margin: 8px 0px !important;
}