.image-holder {
  position: relative;
  background-image: url("../../assets/images/parking-search/search.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.image-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.White {
  color: white;
}

.autocompleteContainer {
  font-size: 18px;
  color: #851fbf;
}

/* .autocompleteContainer .suggestion {
  background-color: #851fbf;
  font-size: 18px;
} */

.DateTimePicker {
  border: 01px solid #851fbf !important;
}

.DateTimePicker::selection {
  color: white;
  background: #851fbf;
}

.DateTimePicker:focus-visible {
  border: 01px solid #851fbf !important;
  outline: 02px solid #851fbf !important;
}