.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    height: 500px;
    overflow-y: scroll;
}
.css-2juv43 {
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2) !important;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: static !important;
}
