.mainBg {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/SignUp/mainBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.crdIcon {
    width: 4rem !important;
    height: 4rem !important;
}

.crdI {
    color: #aa23b6;
}
